*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 12px; */
    font-family: 'Poppins', sans-serif;
}
/* css for navbar */
nav{
    height: 50px;
    background-color: #1C79A0;
    color: #ffffff;
    z-index:100;
    /* position:relative; */
    top:0;
    width:100%;   
    position: fixed; 
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 50px; */
    height: 50px;
}
nav li:nth-child(-n+6)
{
    width: 13%;
    padding: 11px 0 0 0;
    vertical-align: middle;
    text-align: center;
}
nav li:nth-child(-n+4)
{
    width: 32%;
}
nav li:nth-child(-n+3)
{
    width: 13%;
}
nav li:nth-child(-n+1)
{
    width: 21.5%;
}
nav li{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav li a,nav li span{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    /* font-size: 14px; */
    line-height: normal;
    cursor: pointer;
    width: 100%;
}
nav li span{
    padding-bottom: 6%;
}
.company a,.platform a{
    padding: 20%;
}
.space{
    background-color: black;
    padding-bottom: 20px;
}
.mobileresponsive{
    display: none;
}
.company,.platform{
    display: none;
    background-color: #0a506e;
    width: 100%;
    border-top: 1px solid rgba(255,255,255, 0.5);
}

nav li:hover div a
{
    display: block;
}
nav li:hover {
    background-color: #0a506e;
    padding-bottom: 1%;
}
.hoverdown a{
    padding: 10px 0 5px 0;
}
.hamburgericon{
    margin-left: 2%;
    display: none;
}
nav li span span svg{
    vertical-align: middle;
}
nav h1{
    font-size: 16px;
    font-weight: lighter;
}
/* css for footer */
footer{
   height: 175px;
    background-color: #1C79A0;
    color: white;
    list-style: none;
    padding: 30px 0;
    width:100%;
    font-size: 12px;
}
.ffooter_grid{
   display: grid;
   grid-template-columns: 1.2fr 1fr 1fr 1fr;
   grid-gap: 2em;
}
.fcompanyname {
    margin-top: 35px;
    text-align: center;
}
.fcompanyname h1{
    font-size: 24px;
    font-weight: lighter;    
    
}
.fexplore h1{
    font-size: 17px;
}
.fexplore_grid{
   
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
}
.fexplore_grid h2 a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
}
.flocation h1{
    font-size: 17px;
}

.flocation h2{
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.8em;
}
.fsocialmedias{
    margin-top: 14px;
}
.fsocialmedias a {
    text-decoration: none;
}
.fsocialmedias svg{
    margin-top: 25px;
    padding-left: 4px;
    margin-left: 4px;
}
@media(max-width:900px)
{
    nav li:nth-child(-n+6)
    {
        padding: 12px 0 0 0;
    }
    nav li a,nav li span{
        font-size: 12px;
        padding: 1.5vh 0%;
    }
    nav li span svg{
        height:10px;
        width:10px;
    }
}
@media(max-width:740px)
{
   .fsocialmedias svg {
        width:20px ;
        height: 20px;
        margin-left: 0;
    }
    .fexplore_grid h2 a{
        font-size: 13px;
       
    }
    .fcompanyname h1{
        font-size: 22px;
    }
    .fexplore h1{
        font-size: 15px;
        
    }
    .flocation h2{
        font-size: 13px;
        line-height: 2.1em;
    }
    .flocation h1{
        font-size: 15px;
    }
}
@media(max-width:600px)
{
    .hamburgericon{
        display: inline;
        cursor: pointer;
    }
    .mobileresponsive{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mobileresponsive a{
        width: 80%;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        font-size: x-large;
    }
    .mobileviewnavbar{
        display: none;
        background-color: #0a506e;
        height: calc(100vh - 50px);
        width: 60%;
        position:absolute;
        left: 0;
        top:50px;
        z-index:199;
    }
    nav ul{
        flex-direction: column;
        justify-content: start;
        height: 60%;
    }
    nav li:hover div a
    {
        display: none;
    }
    .platform,.company{
        border: none;
    }
    nav li:nth-child(-n+6){
        width: 80%;
        justify-self: flex-start;
        text-align: left;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.6);
    }
    .hoverdown span{
        width: 100%;
    }
    
    nav ul li h1{
        padding-left: 20px;
        width: 50%;
        font-weight: bold;
    }
    nav li span span svg{
        float: right;
        margin-top: 5%;
    }
    nav li a:focus{
        touch-action: none;
    }
    #company span svg{
        margin-top: 5.8%;
    }
    /* nav li a,span{
        font-size:1.4rem;
    } */
    footer{
    text-align: center;
    padding: 0px;
    font-size: 8px;
}
    .ffooter_grid{
    grid-column-gap: 100px;
    grid-auto-rows: 30px 50px 50px ;
}
    .fcompanyname{
        margin-top: 15px;
        grid-column: 1/5;
            }
    .fexplore{
 
        grid-column: 1/3;
    }
    .fexplore_grid{
        margin: 0px;
    }
    .flocation{
        grid-column: 3/5;
    }
    .fsocialmedias {
        grid-row: 3;
        grid-column: 1/5;
    }
    #first{
        margin-top: 0px;
        
    }
    .flocation h2{
        
        line-height: 1.5em;
    }
    .fcompanyname h1{
      height: 50px;
    }
   
}

@media(max-width:320px)
{
    /* nav li a,span{
        font-size: 11px;
    } */
    .mobileresponsive a{
        font-size: larger;
    }
}   

